USE [master]
GO
/****** Object:  Database [project_management]    Script Date: 09/18/19 21:44:53 ******/
CREATE DATABASE [project_management]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'project_management', FILENAME = N'D:\Program File\SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\project_management.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'project_management_log', FILENAME = N'D:\Program File\SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\project_management_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [project_management].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [project_management]
GO
/****** Object:  User [admin]    Script Date: 09/18/19 21:44:53 ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [admin]
GO
/****** Object:  Table [dbo].[APP_ROLE]    Script Date: 09/18/19 21:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APP_ROLE](
	[ROLE_ID] [bigint] NOT NULL,
	[ROLE_NAME] [varchar](30) NOT NULL,
 CONSTRAINT [APP_ROLE_PK] PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APP_USER]    Script Date: 09/18/19 21:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APP_USER](
	[USER_ID] [bigint] NOT NULL,
	[USER_NAME] [varchar](36) NOT NULL,
	[ENCRYTED_PASSWORD] [varchar](128) NOT NULL,
	[ENABLED] [bit] NOT NULL,
 CONSTRAINT [APP_USER_PK] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 09/18/19 21:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[DEPT_ID] [int] NOT NULL,
	[DEPT_NAME] [varchar](255) NOT NULL,
	[DEPT_NO] [varchar](20) NOT NULL,
	[LOCATION] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[DEPT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persistent_Logins]    Script Date: 09/18/19 21:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persistent_Logins](
	[username] [varchar](64) NOT NULL,
	[series] [varchar](64) NOT NULL,
	[token] [varchar](64) NOT NULL,
	[last_used] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[series] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_ROLE]    Script Date: 09/18/19 21:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_ROLE](
	[ID] [bigint] NOT NULL,
	[USER_ID] [bigint] NOT NULL,
	[ROLE_ID] [bigint] NOT NULL,
 CONSTRAINT [USER_ROLE_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[APP_ROLE] ([ROLE_ID], [ROLE_NAME]) VALUES (1, N'ROLE_ADMIN')
INSERT [dbo].[APP_ROLE] ([ROLE_ID], [ROLE_NAME]) VALUES (2, N'ROLE_USER')
INSERT [dbo].[APP_USER] ([USER_ID], [USER_NAME], [ENCRYTED_PASSWORD], [ENABLED]) VALUES (1, N'dbadmin1', N'$2a$10$PrI5Gk9L.tSZiW9FXhTS8O8Mz9E97k2FZbFvGFFaSsiTUIl.TCrFu', 1)
INSERT [dbo].[APP_USER] ([USER_ID], [USER_NAME], [ENCRYTED_PASSWORD], [ENABLED]) VALUES (2, N'dbuser1', N'$2a$10$PrI5Gk9L.tSZiW9FXhTS8O8Mz9E97k2FZbFvGFFaSsiTUIl.TCrFu', 1)
INSERT [dbo].[DEPARTMENT] ([DEPT_ID], [DEPT_NAME], [DEPT_NO], [LOCATION]) VALUES (1, N'Dept Name', N'D1', N'Dept Location')
INSERT [dbo].[USER_ROLE] ([ID], [USER_ID], [ROLE_ID]) VALUES (1, 1, 1)
INSERT [dbo].[USER_ROLE] ([ID], [USER_ID], [ROLE_ID]) VALUES (2, 1, 2)
INSERT [dbo].[USER_ROLE] ([ID], [USER_ID], [ROLE_ID]) VALUES (3, 2, 2)
SET ANSI_PADDING ON
GO
/****** Object:  Index [APP_ROLE_UK]    Script Date: 09/18/19 21:44:53 ******/
ALTER TABLE [dbo].[APP_ROLE] ADD  CONSTRAINT [APP_ROLE_UK] UNIQUE NONCLUSTERED 
(
	[ROLE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [APP_USER_UK]    Script Date: 09/18/19 21:44:53 ******/
ALTER TABLE [dbo].[APP_USER] ADD  CONSTRAINT [APP_USER_UK] UNIQUE NONCLUSTERED 
(
	[USER_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DEPARTME__512A302D76271029]    Script Date: 09/18/19 21:44:53 ******/
ALTER TABLE [dbo].[DEPARTMENT] ADD UNIQUE NONCLUSTERED 
(
	[DEPT_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [USER_ROLE_UK]    Script Date: 09/18/19 21:44:53 ******/
ALTER TABLE [dbo].[USER_ROLE] ADD  CONSTRAINT [USER_ROLE_UK] UNIQUE NONCLUSTERED 
(
	[USER_ID] ASC,
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[USER_ROLE]  WITH CHECK ADD  CONSTRAINT [USER_ROLE_FK1] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[APP_USER] ([USER_ID])
GO
ALTER TABLE [dbo].[USER_ROLE] CHECK CONSTRAINT [USER_ROLE_FK1]
GO
ALTER TABLE [dbo].[USER_ROLE]  WITH CHECK ADD  CONSTRAINT [USER_ROLE_FK2] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[APP_ROLE] ([ROLE_ID])
GO
ALTER TABLE [dbo].[USER_ROLE] CHECK CONSTRAINT [USER_ROLE_FK2]
GO
USE [master]
GO
